.menuButton {
  cursor: pointer;
  position: fixed;
  height: 30px;
  width: 35px;
  padding: 5px;
  top: 35px;
  right: 25px;

  .linesContainer {
      position: relative;

      span, span:before, span:after {
      border-radius: 5px;
      width: 25px;
      height: 2px;
      background-color: black;
      position: absolute;
      display: block;
      content: '';
    }

    span {
      top: 10px;
    }
    span:before {
      top: -10px;
    }

    span:after {
      bottom: -10px;
    }
  }
}

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 105px;
  height: 100vh;
  background-color: $purple;
  position: fixed;
  color: white;
  transition: all 0.3s ease-in;
  z-index: 10;

  p {
    text-align: center;
    padding: 30px 15px;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #773dc8;
  }

  nav {
    padding: 26px;

    a {
      padding: 13px 17px;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 1.3rem;
      transition-duration: 0.25s;
      border-radius: 6px;
      width: 100%;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        letter-spacing: 2px;
        margin-left: 10px;
        transition-duration: 0.2s;
      }

      &:hover {
        background-color: #9D69E5;
        box-shadow: 0 14px 28px rgba(0,0,0,0.2);
      }
    }
  }

  .scrollDown {
    height: 80px;
  }
}