$mainColor: #8444df;
$darkWhite: #f7f7f7;
$offWhite: #eee;
$lightBlack: #333;

$transitionEase: all 0.3s ease-in;
$plainFocus: 2px solid $mainColor;

$smallBorder: 1px solid $offWhite;

@mixin focusBorder {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}