a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 125%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 80px 0;
}

.outerWrapper {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.innerWrapper {
  padding: 0 33px;
  max-width: 1140px;
  margin: 0 auto;
}

.sectionContainer {
  background-color: white;
  border-radius: 50px;
  padding: 48px;
}

.sectionHead {
  margin-bottom: 50px;
}

.sectionHead span {
  padding-bottom: 20px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  letter-spacing: 1px;
}

.sectionHead span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}

.sectionHead h2 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.techStack {
  color: #8444df;
}

.menuButton {
  cursor: pointer;
  position: fixed;
  height: 30px;
  width: 35px;
  padding: 10px;
  top: 35px;
  right: 25px;
  z-index: 20;
  display: none;
}

.menuButton:focus {
  border: 2px solid #8444df;
}

.menuButton .linesContainer {
  position: relative;
}

.menuButton .linesContainer span, .menuButton .linesContainer span:before, .menuButton .linesContainer span:after {
  border-radius: 5px;
  width: 25px;
  height: 2px;
  background-color: black;
  position: absolute;
  display: block;
  content: '';
}

.menuButton .linesContainer span {
  top: 3px;
  left: -6px;
}

.menuButton .linesContainer span:before {
  top: -10px;
}

.menuButton .linesContainer span:after {
  bottom: -10px;
}

.sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
  height: 100vh;
  background-color: #8444df;
  position: fixed;
  color: white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.sideMenu p {
  text-align: center;
  padding: 30px 15px;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #773dc8;
}

.sideMenu nav {
  padding: 26px;
}

.sideMenu nav a {
  padding: 13px 17px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.3rem;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.sideMenu nav a span {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: absolute;
  left: 55px;
  top: 18px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sideMenu nav a:hover, .sideMenu nav a:focus {
  background-color: #9D69E5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.sideMenu .scrollDown {
  height: 50px;
  position: relative;
  left: 35px;
}

.sideMenu .scrollDown .lni-arrow-down {
  line-height: 1.2;
  font-size: 2rem;
}

.sideMenu .scrollDown .scrollDownText {
  font-size: 0.75rem;
  position: absolute;
  top: 10px;
  left: 30px;
  font-weight: 300;
}

.hoverMenu {
  width: 220px;
}

.menuShow {
  display: block;
}

.menuHide {
  display: none;
}

.sideMenuHide {
  left: -300px;
}

.sideMenuShow {
  left: 0;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .heroImageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

header .heroImageContainer img {
  border-radius: 50%;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
          box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
}

header .heroDescription {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}

header .heroDescription .greeting {
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.2;
}

header .heroDescription h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 24px 0;
}

header .heroDescription h1 span {
  color: #8444df;
}

header .heroDescription .smallBio {
  letter-spacing: 1px;
  color: #5F6F81;
  font-size: 1rem;
  min-width: 250px;
  line-height: 1.4;
}

header .heroDescription .smallBio span {
  color: #8444df;
  font-size: 1.1rem;
}

header .heroDescription .socialsResume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

header .heroDescription .socialsResume .resumeLink {
  background-color: #8444df;
  padding: 15px 35px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .heroDescription .socialsResume .resumeLink:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

header .heroDescription .socialsResume .resumeLink:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.socialsList li {
  margin: 0 10px;
}

.socialsList li a {
  padding: 9px 10px;
  background-color: white;
  border-radius: 6px;
  color: #8444df;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
}

.socialsList li a:hover {
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.socialsList li a:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.aboutContainer p {
  line-height: 1.5;
}

.aboutContainer p span {
  color: #8444df;
}

.skillsContainer {
  text-align: center;
  font-size: 0.7rem;
}

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.skillsGrid li {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
}

.skillsGrid li p {
  margin-top: 10px;
}

.skillsGrid li img {
  width: 35px;
  height: 35px;
}

.workBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-top: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
          box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid #eee;
}

.workBox:first-child {
  margin-top: 0;
}

.workBox .workImageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  border-radius: 10px;
  height: auto;
}

.workBox .workImageContainer img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.workBox .workDescribeContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 350px);
          flex: 0 1 calc(100% - 350px);
  margin-left: 25px;
}

.workBox .workDescribeContainer h3 {
  letter-spacing: 1px;
}

.workBox .workDescribeContainer ul {
  list-style: disc inside;
  font-size: 0.9rem;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 20px;
}

.workBox .workDescribeContainer ul li:not(:first-child) {
  margin-top: 10px;
}

.workBox .workDescribeContainer p {
  font-size: 0.9rem;
  margin-top: 20px;
}

.workBox .workDescribeContainer h4 {
  font-size: 1rem;
  margin-top: 7px;
  letter-spacing: 1px;
  line-height: 1.2;
}

.workBox .workDescribeContainer h4 span {
  color: #8444df;
  display: inline-block;
  padding: 0 5px;
}

.workBox .workDescribeContainer .workLinks {
  margin-top: 50px;
}

.workBox .workDescribeContainer .workLinks a {
  font-size: 1.1rem;
  margin-right: 20px;
  color: #8444df;
  display: inline-block;
  text-decoration: underline;
}

.workBox .workDescribeContainer .workLinks a:focus {
  border: 2px solid #8444df;
}

.contactContainer h3 {
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.contactContainer .contactForm {
  margin-top: 48px;
}

.contactTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.contactTypes .flexContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.contactTypes .flexContainer:first-child {
  padding: 0 15px 0 0;
}

.contactTypes .flexContainer:last-child {
  padding: 0 0 0 15px;
}

.contactTypes .flexContainer .typeBox {
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid #eee;
  padding: 24px;
  border-radius: 15px;
}

.contactTypes .flexContainer .typeBox i {
  display: inline-block;
  padding: 18px;
  background: #f7f7f7;
  border-radius: 7px;
  font-size: 1.7rem;
  margin-bottom: 25px;
}

.contactTypes .flexContainer .typeBox .lni-calendar {
  color: #1267d0;
  background-color: #E7EFFA;
}

.contactTypes .flexContainer .typeBox .lni-envelope {
  color: #82c690;
  background-color: #F3F9F4;
}

.contactTypes .flexContainer .typeBox a {
  display: block;
  margin-bottom: 15px;
  color: #333;
  text-decoration: underline;
  font-size: 1rem;
}

.contactTypes .flexContainer .typeBox a:focus {
  border: 2px solid #8444df;
}

.contactTypes .flexContainer .typeBox p {
  font-size: 0.8rem;
  color: #5F6F81;
}

.contactFormContainer {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactFormContainer form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 35px;
}

.contactFormContainer form input,
.contactFormContainer form textarea {
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 11px 20px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

.contactFormContainer form input:focus,
.contactFormContainer form textarea:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactFormContainer form textarea {
  resize: none;
}

.contactFormContainer form ::-webkit-input-placeholder {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #6c757d;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}

.contactFormContainer form :-ms-input-placeholder {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #6c757d;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}

.contactFormContainer form ::-ms-input-placeholder {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #6c757d;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}

.contactFormContainer form ::placeholder {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #6c757d;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}

.contactFormContainer form .subjectInput,
.contactFormContainer form .messageInput {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
}

.contactFormContainer button {
  padding: 14px 40px;
  font-size: 0.9rem;
  border: none;
  background-color: #8444df;
  color: white;
  letter-spacing: 1px;
  border-radius: 40px;
  width: 140px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contactFormContainer button:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactFormContainer button:hover {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 20px;
  background-color: white;
}

footer p {
  width: 200px;
  margin: 0 auto;
  color: #333;
  font-size: 1rem;
  text-align: center;
}

/**********************/
/*   MAX WIDTH 1040PX */
/**********************/
@media (max-width: 1040px) {
  .contactFormContainer form {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contactFormContainer form .subjectInput,
  .contactFormContainer form .messageInput {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
  }
}

/**********************/
/*   MIN WIDTH 991PX  */
/**********************/
@media (min-width: 991px) {
  .navItemName {
    display: none;
  }
  .sideMenu:hover {
    width: 220px;
  }
  .sideMenu:hover .navItemName {
    display: block;
  }
}

/**********************/
/*   MAX WIDTH 900PX  */
/**********************/
@media (max-width: 990px) {
  .outerWrapper {
    width: 100%;
    margin-left: 0;
  }
  .sideMenu {
    width: 220px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sideMenu nav {
    margin-top: 40px;
  }
  .menuButton {
    display: block;
  }
  header {
    display: block;
    padding: 80px 0;
    height: auto;
  }
  header .heroDescription {
    text-align: center;
    margin-top: 50px;
  }
  header .heroDescription .socialsResume {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialsList {
    margin-left: 10px;
  }
}

/**********************/
/*   MIN WIDTH 768PX  */
/**********************/
@media (min-width: 768px) {
  .skillsGrid li:hover {
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
  }
  .workBox:hover {
    -webkit-box-shadow: 5px 14px 28px rgba(134, 151, 168, 0.2);
            box-shadow: 5px 14px 28px rgba(134, 151, 168, 0.2);
  }
  .contactTypes .flexContainer .typeBox:hover {
    -webkit-box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
            box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
  }
}

/**********************/
/*   MAX WIDTH 767PX  */
/**********************/
@media (max-width: 767px) {
  .innerWrapper {
    padding: 0 15px;
  }
  header .heroImageContainer img {
    width: 250px;
    height: 250px;
  }
  .sectionContainer {
    background-color: transparent;
    padding: 0;
  }
  .aboutContainer {
    line-height: 1.3;
    font-size: 1rem;
  }
  .workBox {
    display: block;
    padding: 0;
  }
  .workBox .workImageContainer {
    max-width: 500px;
    margin: 0 auto;
  }
  .workBox .workDescribeContainer {
    margin-left: 0;
    margin-top: 20px;
    padding: 20px;
  }
  .workBox .workDescribeContainer .workLinks {
    margin-top: 25px;
  }
  .skillsGrid {
    row-gap: 15px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .contactTypes {
    display: block;
  }
  .contactTypes .flexContainer {
    max-width: 100%;
  }
  .contactTypes .flexContainer:first-child {
    padding: 0;
  }
  .contactTypes .flexContainer:last-child {
    padding: 0;
  }
  .contactTypes .flexContainer .typeBox:first-child {
    margin-bottom: 15px;
  }
}

/**********************/
/*   MAX WIDTH 400PX  */
/**********************/
@media (max-width: 400px) {
  header {
    padding: 40px 0;
  }
  header .heroDescription .socialsResume {
    display: block;
  }
  header .heroImageContainer img {
    -webkit-box-shadow: 12px 0 #d9c8f1;
            box-shadow: 12px 0 #d9c8f1;
  }
  .socialsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-top: 30px;
  }
  .contactFormContainer form input,
  .contactFormContainer form textarea {
    max-width: 380px;
  }
}
