a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 125%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 80px 0;
}

.outerWrapper {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.innerWrapper {
  padding: 0 33px;
  max-width: 1140px;
  margin: 0 auto;
}

.sectionContainer {
  background-color: white;
  border-radius: 50px;
  padding: 48px;
}

.sectionHead {
  margin-bottom: 50px;
}

.sectionHead span {
  padding-bottom: 20px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  letter-spacing: 1px;
}

.sectionHead span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}

.sectionHead h2 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
  height: 100vh;
  background-color: #8444df;
  position: fixed;
  color: white;
}

.sideMenu p {
  text-align: center;
  padding: 30px 15px;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #773dc8;
}

.sideMenu nav {
  padding: 26px;
}

.sideMenu nav a {
  padding: 13px 17px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.3rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-radius: 6px;
}

.sideMenu nav a:hover {
  background-color: #9D69E5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.sideMenu .scrollDown {
  height: 80px;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .heroImageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

header .heroImageContainer img {
  border-radius: 50%;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  z-index: 10;
}

header .heroImageContainer .circle {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: absolute;
}

header .heroImageContainer .circleOne {
  background-color: #D9C8F1;
  z-index: 3;
  right: 80px;
}

header .heroImageContainer .circleTwo {
  background-color: #E2D6F3;
  z-index: 2;
  right: 65px;
}

header .heroImageContainer .circleThree {
  background-color: #ECE6F5;
  z-index: 1;
  right: 50px;
}

header .heroDescription {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}

header .heroDescription .greeting {
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.2;
}

header .heroDescription h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 24px 0;
}

header .heroDescription h1 span {
  color: #8444df;
}

header .heroDescription .smallBio {
  letter-spacing: 1px;
  color: #5F6F81;
  font-size: 1rem;
  min-width: 250px;
}

header .heroDescription .smallBio span {
  color: #8444df;
  line-height: 1.8;
  font-size: 1.1rem;
}

header .heroDescription .socialsResume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

header .heroDescription .socialsResume .resumeLink {
  background-color: #8444df;
  padding: 15px 35px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header .heroDescription .socialsResume .resumeLink:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.socialsList li {
  margin: 0 10px;
}

.socialsList li a {
  padding: 9px 10px;
  background-color: white;
  border-radius: 6px;
  color: #8444df;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  display: inline-block;
}

.socialsList li a:hover {
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.skillsContainer {
  text-align: center;
  font-size: 0.7rem;
}

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.skillsGrid li {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
}

.skillsGrid li:hover {
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
}

.skillsGrid li p {
  margin-top: 10px;
}

.skillsGrid li img {
  width: 35px;
  height: 35px;
}

.workBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-top: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
          box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid #eee;
}

.workBox:first-child {
  margin-top: 0;
}

.workBox:hover {
  -webkit-box-shadow: 5px 14px 28px rgba(134, 151, 168, 0.2);
          box-shadow: 5px 14px 28px rgba(134, 151, 168, 0.2);
}

.workBox .workImageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  border-radius: 10px;
  height: auto;
}

.workBox .workImageContainer img {
  width: 100%;
  height: 196px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.workBox .workDescribeContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 350px);
          flex: 0 1 calc(100% - 350px);
  margin-left: 25px;
}

.workBox .workDescribeContainer h3 {
  letter-spacing: 1px;
}

.workBox .workDescribeContainer p {
  font-size: 0.9rem;
  margin-top: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.workBox .workDescribeContainer h4 {
  font-size: 1rem;
  margin-top: 7px;
  letter-spacing: 1px;
}

.workBox .workDescribeContainer h4 span {
  color: #8444df;
  display: inline-block;
  padding: 0 5px;
}

.workBox .workDescribeContainer .workLinks {
  margin-top: 50px;
}

.workBox .workDescribeContainer .workLinks a {
  font-size: 1.1rem;
  margin-right: 20px;
  color: #8444df;
  display: inline-block;
  text-decoration: underline;
}
